#square{
    border: 0.2vh solid white;
    height: 3vw;
    width: 3vw;
    float: left;

    background-size: 3vw 3vw;
}
#row{
    display: table;
}

.head{
    background-image: url('./head.svg');
}

.snakeBody{
    background-image: url('./scale.svg');
}

.apple{
    background-image: url('./apple.svg');
}